{% extends "base.html" %}


{% block script %}
$(function() {
    $('.balance .details').click(function () {console.log($(this).find('.list, .summary').toggle())}); 
});
{% endblock %}


{% block main %}
<!--h3>Recent Activity</h3>

<table class="table">
    <thead>
        <th>From/to</th>
        <th>Subject</th>
        <th style="text-align:right">Amount</th>
        <th>Created</th>
    </thead>
    {% for owe in owes %}
    <tr>
        <td>{{ owe.user_name }}</td>
        <td>{{ owe.subject }}</td>
        <td style="text-align:right" class="{{ owe.amount | plusminus }}">{{ owe.amount }} {{owe.currency }}</td>
        <td>{{ owe.created | dt }}</td>
    </tr>
    {% endfor %}
</table-->

<h3>Current Balances</h3>

<table class="table balance">
    <thead>
        <th>User</th>
        <th style="text-align:right">Balance</th>
        <th>Items</th>
        <th>Latest</th>
    </thead>
    {% for b in balances %}
    <tr>
        <td>{{ b.user_name }}</td>
        <td style="text-align:right" class="{{ b.amount | plusminus }}">{{ b.amount }} {{ b.currency }}</td>
        <td class="details">
            <div class="summary">
                {% for d in details[b.user_id] %}
                    <span class="{{ d.amount | plusminus }} badge {% if d.is_new %}new{% endif %}">{{ d.subject }} {{ d.amount }}</span>
                {% endfor %}
            </div>
            <div class="list">
                <table>
                {% for d in details[b.user_id] %}
                    <tr>
                        <td><span class="badge {{ d.amount | plusminus }}">{{ d.subject }}</span></td>
                        <td style="text-align:right" class="{{ d.amount | plusminus }}">{{ d.amount }} {{d.currency }}</td>
                        <td>{{ d.created | dt }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </td>
        <td>
            {{ b.latest | dt }}
        </td>
    </tr>
    {% endfor %}
</table>

<h3>New Owe</h3>

<form role="form" class="form-inline" method="POST" action="new_owe">
    I owe
    <input name="amount" type="number" step="0.01" min="0" placeholder="1.00"
        class="form-control" style="width: 100px" required/> &euro;
    <input name="currency" type="hidden" value="EUR">
    to
    <input name="creditor" type="email" class="form-control" list="emails" placeholder="friend@example.com"
        style="width:250px" required>
    <datalist id="emails">
        <option value="karl42@gmail.com">
        <option value="maria.schuldt89@gmail.com">
    </datalist>
    for
    <input name="subject" class="form-control" placeholder="subject" style="width:250px">
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>
{% endblock %}
