{% extends "shared/base.html" %}

{% block outside_top %}
    <div class="jumbotron">
        <div class="container">
            <h1>Track your owes</h1>
            <p>Your coworker paid for your lunch? A friend paid your cocktail? Don't forget about it and let them know that you remember!</p>
            <p><a class="btn btn-primary btn-lg" role="button">Join now</a></p>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <h2>Track owes easily</h2>
            <p>
            Just enter the amount and the other persons e-mail address to save
            the owe. If you like, you can also add a subject so that you know
            why you owe someone when looking at it later.
            </p>
            <!--p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p-->
        </div>
        <div class="col-md-4">
            <h2>Let them know</h2>
            <p>
            Whenever you add a new owe, the other person is informed about
            this via e-mail. They know that you will remember and can look it up
            any time.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Get a balance</h2>
            <p>
            Balances between two people are calculated based on all their owes.
            This makes exchanging money unnecessary in many cases when you pay
            for each other frequently.
            </p>
        </div>
    </div>
{% endblock %}
